@import "../../variables/colors";
@import "../../variables/spacing";
BODY {

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}
H1 {

  color: $primary;

}
A {

  text-decoration: none;
  color: black;

}
.container {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: $spacer-32;
  grid-row-gap: 0px;

}
.home {

  height: calc(100vh - 64px);
  max-height: 850px;
  max-width: 1800px;
  margin: $spacer-32 auto;
  padding: 0 $spacer-32;

}
.blockLeft {

  grid-column-start: 1;
  grid-column-end: 5;

  .columnLeft{

    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;

    .topLeft {

      height: 30%;

      .circle {

        width: 100%;
        height: 100%;
        background-image: url("assets/media/img/sun.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;

      }

    }
    .bottomLeft {

      flex-grow: 1;
      margin-top: $spacer-32;
      border: 1px solid black;
      border-radius: $spacer-16;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: $spacer-16;

      img {

        width: $spacer-32;
        height: $spacer-32;

      }

      h2 {

        font-size: 64px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;

      }
      .containerGradient {

        display: block;
        height: $spacer-32;
        width: 60%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,0,255,1) 100%);

      }

    }

  }
  .columnRight{

    grid-column-start: 7;
    grid-column-end: 13;
    display: flex;
    flex-direction: column;

    .topRight {

      height: 50%;
      border: 1px solid black;
      border-radius: $spacer-16;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: $spacer-16;

      img {

        width: 50%;
        margin-left: auto;

      }
      p {

        text-transform: uppercase;
        font-weight: 400;
        text-align: right;

      }

    }
    .bottomRight {

      height: 50%;
      margin-top: $spacer-32;
      border-radius: $spacer-16;
      background-image: url("assets/media/img/card.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1500;
      -webkit-box-shadow: 32px 49px 60px 10px rgba(184,184,184,0.88);
      -moz-box-shadow: 32px 49px 60px 10px rgba(184,184,184,0.88);
      box-shadow: 32px 49px 60px 10px rgba(184,184,184,0.88);

    }

  }

}
.blockRight {

  grid-column-start: 5;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {

    color: black;
    font-size: 96px;
    font-weight: 400;
    line-height: 1.2;
    margin-left: $spacer-32;
    margin-bottom: 0;

    span {

      position: relative;

     &::after {

       content: "";
       position: absolute;
       bottom: -8px;
       left: 0;
       height: 8px;
       width: 100%;
       background: #444;
       background: linear-gradient(90deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.8) 5%, rgba(0,0,0,1) 100%);

     }

    }

  }

  .cta {

    display: inline-block;
    margin-top: $spacer-32;
    padding: 20px $spacer-32;
    margin-left: $spacer-32;
    color: white;
    background-color: black;
    font-weight: 300;

  }

}
