<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__el">
            <a href="index.html">Business</a>
        </li>
        <li class="navigation__el">
            <a href="about.html">Services</a>
        </li>
        <li class="navigation__el">
            <a href="about.html">Developers</a>
        </li>
        <li class="navigation__el">
            <a href="about.html">Company</a>
        </li>
    </ul>
    <ul class="navigation__list">
        <li class="navigation__el">
            <a href="index.html">Sign in</a>
        </li>
        <li class="navigation__el active">
            <a href="index.html">Login</a>
        </li>
    </ul>
</nav>