{% extends 'layout/layout.twig' %}

{% block content %}

    <section class="home container">
        <div class="blockLeft container">
            <div class="columnLeft">
                <div class="topLeft">
                    <div class="circle"></div>
                </div>
                <div class="bottomLeft">
                    <img src="assets/media/img/QR.png" alt="">
                    <h2>k76</h2>
                    <span class="containerGradient"></span>
                </div>
            </div>
            <div class="columnRight">
                <div class="topRight">
                    <img src="assets/media/img/face.png" alt="">
                    <p>Your business banking <br> toolkit in one place</p>
                </div>
                <div class="bottomRight">
                </div>
            </div>
        </div>
        <div class="blockRight">
            {% include 'components/molecules/navigation.twig' %}
            <div>
                <h1>Build <span>financial</span> <br> <span>services</span> into <br> your product</h1>
                <a class="cta" href="#">Get in touch</a>
                {% include "components/molecules/cards-expanding.twig" %}
            </div>
        </div>
    </section>

{% endblock %}